body {
    font-family: Arial;
    color: rgb(51, 51, 51);
    background-color: rgb(240, 240, 240);
    font-size: 14pt;
  }
  
  header, footer {
    background-color: rgb(26, 115, 232);
    padding: 20px;
    border-radius: 5px;
    color: white;
  }
  
  header h1 {
    font-size: 18pt;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    color: rgb(204, 228, 255);
  }
  
  main {
    max-width: 860px;
    margin: 0 auto;
  }
  
  article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 16pt;
  }
  
  h2, h3 {
    font-size: 20pt;
    font-weight: bold;
    color: rgb(26, 115, 232);
    margin-bottom: 10px;
  }
  
  article:hover {
    background-color: rgb(230, 241, 255);
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  footer p {
    text-align: center;
  }
  
  p {
    text-align: justify;
  }